.app {
  height: 80%;
  margin: auto;
  max-width: 1920px;
  width: 80%;
}

@media (max-width: 768px) {
  .app {
    height: 90%;
    width: 90%;
  }
}

@media (max-width: 425px) {
  .app {
    height: 100%;
    width: 100%;
  }
}

.app__books {
  flex: 1 1 auto;
}
